<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <img src="/logo/train-logo.png" />
            <p class="logo"><span class="logo">Train Spotter</span></p>
        </div>
        <div class="mini-navbar">
            <ul>

                <li>
                    <a routerLink="/personal">name's Sightings</a>
                </li>
                <li>
                    <a routerLink="/">Logout</a>
                </li>

                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li>
                    <a routerLink="/register">Register</a>
                </li>

            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="/home" routerLinkActive="active-link">
                    <i class="fa fa-home"></i> Home
                </a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="active-link">
                    <i class="fa fa-info-circle"></i> About
                </a>
            </li>
            <li>
                <a routerLink="/sightings" routerLinkActive="active-link">
                    <i class="fa fa-camera"></i> Sightings
                </a>
            </li>
            <li>
                <a routerLink="/contact" routerLinkActive="active-link">
                    <i class="fa fa-envelope"></i> Contact
                </a>
            </li>
            <li>
                <a routerLink="/shop" routerLinkActive="active-link">
                    <i class="fa fa-shopping-cart"></i> Shop
                </a>
            </li>
            <li>
                <a routerLink="/search" routerLinkActive="active-link">
                    <i class="fa fa-search"></i> Search
                </a>
            </li>
            <li>
                <a routerLink="/cart" routerLinkActive="active-link">
                    <i class="fa fa-shopping-basket"></i> Cart
                </a>
            </li>
        </ul>
    </nav>
</header>