<div class="welcome-page">
    <div class="background-image"></div>
    <div class="content">
        <h1>Welcome to TrainSpotter</h1>
        <p>Connect, share, and interact with train enthusiasts worldwide. Spot, log, and celebrate the magic of
            railways.</p>
        <div class="cta-buttons">
            <div class="btn">
                <p><a routerLink="/about">Want to know more?</a></p>
            </div>
            <div class="btn primary">
                <p><a routerLink="/auth">Become a Train Spotter</a></p>
            </div>
        </div>
    </div>
</div>